body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.car{
    margin-top: 100px;
}

.ears{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ear1{
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #424242;
    width: 0;
    height: 20px;
    margin-right: 20px;
    
    
}



.ear2{
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #424242;
    width: 0;
    height: 20px;
    margin-right: 50px;

}

.head{
    
    background-color: #424242;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    width: 150px;
    height: 100px;
}

.eye1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-right: 30px;
    margin-top: 25px;
    background-color: #CC8439;

}

.eye2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-top: 25px;
    background-color: #CC8439;
}



.eyee1{

    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;



}



.bd{
    display: flex;
    align-items: center;
}


.tail{
    margin-top: 90px;
    width: 30px;
    height: 10px;
    background-color: #424242;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

}

.bodie{
    width: 140px;
    height: 100px;
    background-color: #424242;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
    margin-left: 25px;
}

.legs{
    display: flex;
    align-items: center;
}

.leg{
    margin-left: 50px;
    width: 20px;
    height: 10px;
    background-color: #424242;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;


}

.bow{
    margin-left: 25px;
    width: 97px;
    height: 10px;
    background-color: red;
}


#taap{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 50px;
    height: 50px;
    background-color: rgb(148, 148, 200);
    border-radius: 50px;
}